body {
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  image-url('image.JPG');
  background-size: cover;
  color:white;
  font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
}