<div class="border">
  <table class="table">
    <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Article_numbers</th>
      </tr>
    </thead>
    <tbody>
      <%@users.each do |user|%>
        <tr><td><%=link_to user.name, user_path(user.id)%></td><td><%=user.articles.count%></td></tr>
      <%end%>
    </tbody>
  </table>
</div>